.main-news {
  width: 190%;
}

.news-image-3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.news-3-photos {
    width: 100%;
    border-radius: 6px;
}

@media (max-width: 513px) {
  .main-news {
    width: 200%;
  }
}

@media (max-width: 420px) {
  .main-news {
    width: 250%;
  }
}