/* Это header сайта */
header {
  padding-top: 20px;
  background-color: white;
}

.header-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px 15px;
  max-width: 1300px;
  margin: 0 auto;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 65px;
}

.logo-section > img {
  width: clamp(50px, 7vw, 90px);
  height: auto;
}

.logo-section h1 {
  font-size: clamp(18px, 2vw, 28px);
  line-height: 1.2;
  text-align: center;
}

@media (max-width: 768px) {
  .pigeon {
    display: none;
  }
}

@media (max-width: 1100px) {
  .header-top {
    display: flex;
    padding: 0px;
  }

  .logo-section {
    gap: 10px;
  }

  footer {
    margin-top: 50px;
    background-color: #04304f;
    padding: 30px 20px 20px;
    position: relative;
    color: white;
    text-align: left;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    /* Пришлось вынести сюда */
    grid-column: 1 / 3;
  }

  footer .address-wrapper-mobile {
    position: relative;
    z-index: 2;
  }

  footer .address-wrapper-mobile address {
    font-style: normal;
    line-height: 1.6;
    margin: 0 auto;
    color: white;
  }

  footer .address-wrapper-mobile a {
    color: #ffd87a;
    text-decoration: none;
    font-weight: 600;
  }

  footer .address-wrapper-mobile a:hover {
    text-decoration: underline;
  }

  footer::before {
    content: "";
    position: absolute;
    top: -60px;
    left: 0;
    width: 100%;
    height: 80px;
    background: linear-gradient(to bottom, transparent 50%, #04304f 100%);
    z-index: 1;
  }
}

@media (max-width: 386px) {
  .church {
    display: none;
  }
}

@media (min-width: 1500px) {
  header {
    border-radius: 10px 10px 0 0;
  }
}

/*_____________________________*/