/* Текст для истории. Тут нужно еще поработать так как появляется неприятный баг */
.history-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  padding-top: 0;
  flex-direction: column;
}

.history-content {
  z-index: 2;
  font-size: clamp(1rem, 2vw, 1.3rem);
  line-height: 1.6;
  text-align: justify;
  color: #333;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

@media(max-width: 760px) {
  .history-section {
    padding: 1rem;
  }
}
/*_____________________________*/