/* Текст для истории. Тут нужно еще поработать так как появляется неприятный баг */
.history-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  flex-direction: column;
}

.history-paper {
  width: 100%;
  max-width: 900px;
  height: auto;
  display: block;
  position: relative;
  z-index: 1;
  filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.3));
  pointer-events: none;
}

.history-content {
  position: absolute;
  max-width: 70%;
  z-index: 2;
  font-size: clamp(1rem, 2vw, 1.3rem);
  line-height: 1.6;
  text-align: justify;
  color: #333;
}
/*_____________________________*/