@import url(modules/header.css);
@import url(modules/navigation-bar.css);
@import url(modules/support-button.css);
@import url(modules/main-grid.css);
@import url(modules/all-news.css);
@import url(modules/sidebar.css);
@import url(modules/4-blocks.css);
@import url(modules/history.css);
@import url(modules/contacts.css);
@import url(modules/schedule.css);
@import url(modules/pagination.css);
@import url(modules/reports.css);
@import url(modules/support.css);
@import url(modules/advertisements.css);

@import url(modules/for_news/news-1.css);
@import url(modules/for_news/news-2.css);
@import url(modules/for_news/news-3.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #222;
  background-color: #d6e3f4;
  max-width: 1500px;
  margin: 0 auto;
}

@media (min-width: 1500px) {
  html {
    background-color: #bbd0ed;
  }

  body {
    border-radius: 10px;
    box-shadow: 5px 5px 10px #9798a0, -5px -5px 14px #ffffff;
    margin-top: 30px;
  }
}